.elements__like {
    width: 20px;
    height: 18px;
    background: url(../../../images/like.svg) no-repeat;
    border: none;
    background-size: contain;
    opacity: 1;
    transition: opacity 2s;
    outline: none;
}

.elements__like:hover {
    opacity: .6;
    cursor: pointer;
}